a { color: #377Ba8; text-decoration: none; }
ul { list-style-type:none; margin:0; }

.proj { font-weight: bold; }
.main { padding: 0.5em; }
.flash { background: #CEE5F5; padding: 0.5em; border: 1px solid #AACBE2; }
.error { background: #F0D6D6; padding: 0.5em; }
.list { border: 5px solid black; }
.disassemble { padding: 0.5em; border-top: 2px solid black; padding-left: 20px;}
.func-list { padding: 0.5em; padding-left: 20px; }
.cfg { padding: 0.5em; }
.bb { border: 2px solid; border-color: #8da5e0; box-sizing: content-box;}
.bb_false { border: 3px solid; border-color: #d65c47; }
.bb_true { border: 3px solid; border-color: #6ec275; display: inline-block;}