{% extends "layout.html" %}
{% block title %}cfg{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="bin-list">
    <h3> = file list = </h3>
    {% for filename in filelist %}
    {% if target == filename %}
        <b><a href={{ url_for('cfgview')+'?file='+filename+'&func=main'}}>{{ filename }}</a></b><br>
    {% else %}
        <a href={{ url_for('cfgview')+'?file='+filename+'&func=main'}}>{{ filename }}</a><br>
    {% endif %}
    {% endfor %}
</div>
<br>
{% if target %}
<b>target: {{ target + '@' + func }}</b>
<ul class="cfg">
    <li style="float: bottom"> 
        <div class="func-list">
            {% for addr,func in funcdict.items() %}
                <a href={{ url_for('cfgview')+'?file='+target+'&func='+func }}>{{ addr }} {{ func }}</a> <br>
            {% endfor %}
        </div>
    </li>
    <div>
        <li style="float: bottom">
            {% for bb in cfg %}
            <code class="x86asm">
                    <div class="bb">
                        {% for line in bb.split('\r\n') %}
                            {{ line }}<br>
                        {% endfor %}  
                    </div>
            </code><br><br>
            {% endfor %}
        </li>
    </div>
</ul>
{% endif %}
{% endblock %}