{% extends "layout.html" %}
{% block title %}cfg{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="bin-list">
    <h3> = file list = </h3>
    {% for filename in filelist %}
    <a href={{ url_for('cfgview')+'?file='+filename+'&func=main'}}>{{ filename }}</a><br>
    {% endfor %}
</div>
<br>
{% if target %}
<b>target: {{ target }}</b><br>
<ul class="cfg">
    <li style="float: bottom"> 
        <div class="func-list">
            {% for addr,func in funcdict.items() %}
                <a href={{ url_for('cfgview')+'?file='+target+'&func='+func }}>{{ addr }} {{ func }}</a> <br>
            {% endfor %}
        </div>
    </li>
    <li style="float: bottom">
            {% for bb in cfg %}
            <pre><code class="html">
                <div class="bb">
                    {% for line in bb.split('\r\n') %}
                        {{ line }}</br>
                    {% endfor %}
                </div>    
            </code></pre>
            {% endfor %}
        </div>
    </li>
</ul>
{% endif %}
{% endblock %}