{% extends "layout.html" %}
{% block title %}diagram{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
{% endblock %}

{% block content %}
<div class="bin-list">
    <h3> = file list = </h3>
    {% for filename in filelist %}
    {% if target == filename %}
        <b><a href={{ url_for('diagram')+'?file='+filename+'&func=main'}}>{{ filename }}</a></b><br>
    {% else %}
        <a href={{ url_for('diagram')+'?file='+filename+'&func=main'}}>{{ filename }}</a><br>
    {% endif %}
    {% endfor %}
</div>
<br>
{% if target %}
Here is a mermaid diagram:
target: {{ target }}

<div class="mermaid">
    graph TD
    {% for bb in cfg %}
        {{ bb['idx'] }}[ `{{ bb['content'] }}` ] --> {{ bb['idx']+1 }}[test]
    {% endfor %}
</div>

{% endif %}
{% endblock %}