{% extends "layout.html" %}
{% block title %}diagram{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
{% endblock %}

{% block content %}
Here is a mermaid diagram:
target: {{ target }}
<div class="mermaid">
    graph TD
    {% if target %}
    {% for bb in cfg %}
       {{ bb['idx'] }}
        [
            {% for line in bb['content'].split('\r\n') %}
                {{ "line" }}<br/> 
            {% endfor %}
        ] --> {{ bb['idx']+1 }}[test]
    {% endfor %}
    {% endif %}
</div>
<div class="mermaid">
    graph TD
</div>
{% endblock %}