<!doctype html>
<head>
    {% block head %}
    <title>CFGViewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/docco.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script>hljs.highlightAll()</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/languages/x86asm.min.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>

    {% endblock %}
</head>
<body>
    <div class="proj">CFGViewer - {% block title %}{% endblock %}</div>
    <br>
    <div class="list">
        - <a href={{ url_for('main') }}>main</a><br>
        - <a href={{ url_for('upload') }}>upload</a><br>
        - <a href={{ url_for('cfgview') }}>cfg</a><br>
    </div>
    <br>
    <div id="content">{% block content %}{% endblock %}</div>
</body>

